<div class=''>
    <h4><%= _("Merge Articles") %></h4>
    <div class='class'>
        <label for='merge_with' >Article Id
            <%= text_field :merge, :with, {:autocomplete => 'off', :style => 'width: 100%'} %>
        </label>
        <span>
        <%= link_to(_("Merge"), {:controller => '/articles', :action => 'merge', :id => @article.id}, {:class => 'btn info'}) if @article.id %></span>
        </span>
    </div>
  </div>  