<div class=''>
    <h4><%= _("Merge Articles") %></h4>
    <div class='class'>
        <label for='merge_with' >Article Id
            <%= text_field :merge, :with, {:autocomplete => 'off', :style => 'width: 100%'} %>
        </label>
        <span id='preview_link'>
        <%= button_to "Merge", :action => "merge" %>
        </span>
    </div>
  </div>  