<div class=''>
    <h4><%= _("Merge Articles") %></h4>
    <div class='class'>
        <%= form_tag  :merge_articles, :id=>@article do  %>
        <label for='merge_with' >Article Id </label>
            <input name="merge_with" id="merge_with"/>
        <input type="submit" name="merge" title="Merge" id="merge" value="Merge" />

        <% end %>
    </div>
</div>
